
@theme "/home/lucaspope/.config/rofi/theme.rasi"

configuration {
    kb-row-up:    "Up,Control+p,Control+k";
    kb-row-down:  "Down,Control+n,Control+j";
    kb-row-left:  "Control+h";
    kb-row-right: "Control+l";

    /* Free conflicts */
    kb-remove-to-eol: "";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-mode-complete: "";
    kb-remove-char-back: "BackSpace,Shift+BackSpace";
}
